{% extends "base.html" %}
{% block content %}
<div style="float: left; width: 350px;">
<h2>Recent Links</h2>
<ul>
{% for link in recent_links %}
<li><a href="{{ link.short_url }}" title="{{ link.url }}">{{ link.shortcut }}</a> (Score: {{ link.usage_count }})
(<a href="{% url "url_shortener.views.info" link.shortcut %}">Info</a>)</li>
{% endfor %}
</ul>
</div>
<div>
<h2>Most Popular Links</h2>
<ul>
{% for link in most_popular_links %}
<li><a href="{{ link.short_url }}" title="{{ link.url }}">{{ link.shortcut }}</a> (Score: {{ link.usage_count }})
(<a href="{% url "url_shortener.views.info" link.shortcut %}">Info</a>)</li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block extra_body %}
<script>
$(document).ready(
  function() {
    $("#id_u").focus().select();
  });
</script>
{% endblock %}
